{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": ["prettier", "react-hooks", "eslint-plugin-react", "prefer-arrow"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-use-before-define": [
      "error",
      { "functions": true, "classes": true, "variables": true }
    ],
    "react/jsx-curly-brace-presence": [
      "error",
      { "props": "never", "children": "never" }
    ],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-unused-vars": [
      "error",
      { "ignoreRestSiblings": true, "varsIgnorePattern": "[uU]nused" }
    ],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "singleQuote": true,
        "useTabs": false,
        "tabWidth": 2,
        "semi": true,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "arrowParens": "always",
        "endOfLine": "auto"
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": ["error"],
    "react/require-default-props": "error",
    "react/forbid-prop-types": "error",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["accu"]
      }
    ],
    "prefer-arrow/prefer-arrow-functions": [
      "error",
      {
        "disallowPrototype": true,
        "singleReturnOnly": false,
        "classPropertiesAllowed": false
      }
    ],
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }],
    "func-style": ["error", "expression", { "allowArrowFunctions": true }],
    "eqeqeq": ["error", "smart"],
    "no-else-return": "error",
    "no-unneeded-ternary": "error",
    "no-nested-ternary": "error",
    "no-var": "error",
    "prefer-const": "error",
    "prefer-template": "error",
    "no-implicit-coercion": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": [],
  "overrides": [
    {
      "files": [""],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
