body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Phones */
@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }
}

/* Galaxy fold */
@media (max-width: 280px) {
  h1 {
    font-size: 15px;
  }

  h5 {
    font-size: 11px;
  }
}

@media (max-width: 280px) {
}
